Repository securesign/cosign: changes, and which Tekton pipelines are due for each by the changed paths.
All: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Path conditions:
  client-server-cg-on-pull-request: ((any of: Dockerfile.client-server-cg.rh) or (any of: .tekton/client-server-cg-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-f-on-push: ((any of: Dockerfile.client-server-f.rh) or (any of: .tekton/client-server-f-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-on-push: ((any of: Dockerfile.clients.rh) or (any of: .tekton/client-server-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-re-on-push: ((any of: Dockerfile.client-server-re.rh) or (any of: .tekton/client-server-re-push.yaml)) or (any of: trigger-konflux-builds.txt)
  cosign-on-pull-request: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-pull-request.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)
  cosign-on-push: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-push.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)

Fixed formatting in dockerfile
  Dockerfile.clients.rh
Due: client-server-on-push

Adjusting trillian tooling digests
  Dockerfile.clients.rh
Due: client-server-on-push

Fixing cosign image
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from f172b3082a3 to fd6b8759fe2
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Bumping Brew Image
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Updating Dependency ref
  go.mod
  go.sum
  pkg/cosign/pkcs11key/pkcs11key.go
Due: cosign-on-pull-request, cosign-on-push

Gating Deps to 1.23.6
  go.mod
  go.sum
Due: cosign-on-pull-request, cosign-on-push

Cleaning deps
  go.mod
  go.sum
Due: cosign-on-pull-request, cosign-on-push

Fixing Deps
  go.mod
  go.sum
Due: cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-07-10,10-49-51.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Updating cli container images
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 6d5a6576c83 to 4fef3a1e533
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

feat(fips): bumping Go to 1.24
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

feat(fips): bumping Go to 1.24 (#408)
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Updating cli images
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 4fef3a1e533 to 5207970d260
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Updating cli tools
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Updated timestamp file to 2025-07-30,15-07-17.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 67fee1a132e to a8a0ca73331
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 0d7cfb0704f to a8a0ca73331
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-08-05,13-42-45.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from a8a0ca73331 to 47d9377a741
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Updating Cli Tools
  Dockerfile.clients.rh
Due: client-server-on-push

Updating Rekor Cli
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from e6b39b0a2cd to fc3534049bc
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 8d905a93f13 to fc3534049bc
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Updating CLI images
  Dockerfile.clients.rh
Due: client-server-on-push

Updating gitsign
  Dockerfile.clients.rh
Due: client-server-on-push

Fixing Copy paste error
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Updated timestamp file to 2025-08-12,08-14-56.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-08-12,09-25-42.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-08-13,13-47-34.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Updating CLi tools
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Updated timestamp file to 2025-08-17,19-55-35.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Client Server Update
  Dockerfile.clients.rh
Due: client-server-on-push

Upgrade Conforma/EC cli from v0.6 to v0.7
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 8d905a93f13 to 3660caede14
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push
