Repository securesign/cosign: changes, and which Tekton pipelines are due for each by the changed paths.
All: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Path conditions:
  client-server-cg-on-pull-request: ((any of: Dockerfile.client-server-cg.rh) or (any of: .tekton/client-server-cg-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-f-on-push: ((any of: Dockerfile.client-server-f.rh) or (any of: .tekton/client-server-f-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-on-push: ((any of: Dockerfile.clients.rh) or (any of: .tekton/client-server-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-re-on-push: ((any of: Dockerfile.client-server-re.rh) or (any of: .tekton/client-server-re-push.yaml)) or (any of: trigger-konflux-builds.txt)
  cosign-on-pull-request: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-pull-request.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)
  cosign-on-push: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-push.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7c5495d5fad to d1bad2a2790
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Update Go Dependencies
  go.mod
  test/fakeoidc/go.mod
  test/fakeoidc/go.sum
Due: cosign-on-pull-request, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 34880b64c07 to d1bad2a2790
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-10-31,13-50-19.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Updating cli images
  Dockerfile.clients.rh
Due: client-server-on-push

ci: add fips check
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
  Build.mak
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

ci: add fips check
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
  Build.mak
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

chore: bump vault/api
  go.mod
  go.sum
Due: cosign-on-pull-request, cosign-on-push

go mod tidy
  go.sum
Due: cosign-on-pull-request, cosign-on-push

chore: bump vault/api (#468)
  go.mod
  go.sum
Due: cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-11-12,12-29-50.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Updating Test Limits
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-11-12,16-20-43.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Updating CLI Server
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 34880b64c07 to dae77d7704c
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Updating Cli Images
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 61d5ad47504 to 2fe691b4392
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

chore: update cli server
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 61d5ad47504 to 80f3902b6dc
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

deps: run go mod tidy
  go.mod
  go.sum
Due: cosign-on-pull-request, cosign-on-push

Bump sigstore library dependencies (#4532)
  .github/workflows/e2e-with-binary.yml
  .github/workflows/tests.yaml
  go.mod
  go.sum
  internal/pkg/cosign/tsa/mock/mock_tsa_client.go
  pkg/cosign/keys.go
  pkg/cosign/verify.go
  test/e2e_attach_test.go
  test/e2e_test.go
  test/e2e_tsa_test.go
Due: cosign-on-pull-request, cosign-on-push

Bump deps for cuelang and others (#4332)
  go.mod
  go.sum
  pkg/cosign/cue/cue_test.go
Due: cosign-on-pull-request, cosign-on-push

chore: bump Fulcio to 1.8.4
  go.mod
  go.sum
  pkg/cosign/keys_test.go
Due: cosign-on-pull-request, cosign-on-push

fix: linting issues
  .github/workflows/golangci-lint.yml
  .github/workflows/validate-release.yml
Due: none

fix: linting issues
  .golangci.yml
  go.mod
  go.sum
  pkg/cosign/keys.go
  pkg/cosign/keys_test.go
Due: cosign-on-pull-request, cosign-on-push

chore: bump Fulcio to 1.8.4 (#478)
  .github/workflows/golangci-lint.yml
  .github/workflows/validate-release.yml
  .golangci.yml
  go.mod
  go.sum
  pkg/cosign/keys.go
Due: cosign-on-pull-request, cosign-on-push

Red Hat Konflux purge client-server
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
Due: client-server-on-push

Red Hat Konflux purge cosign
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request, cosign-on-push

chore(konflux): change application to tas-tools
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request, cosign-on-push

Fix formatting in cosign-pull-request.yaml
  .tekton/cosign-pull-request.yaml
Due: cosign-on-pull-request

chore(konflux): update pipeline references for 1.3 release
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request, cosign-on-push
