Repository securesign/cosign: changes, and which Tekton pipelines are due for each by the changed paths.
All: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-push

client-server-cg-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.client-server-cg.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/cli-client-server-cg:on-pr-{{revision}}
  - name: path-context
    value: images
  - name: revision
  ...

client-server-f-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/client-server-f:{{revision}}
  - name: dockerfile
    value: Dockerfile.client-server-f.rh
  - name: prefetch-input
    value: ''
  - name: hermetic
    value: 'true'
  ...

client-server-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/client-server:{{revision}}
  - name: dockerfile
    value: Dockerfile.clients.rh
  - name: hermetic
    value: 'true'
  - name: build-source-image
    value: 'true'
  ...

client-server-re-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.client-server-re.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/client-server-re:{{revision}}
  - name: path-context
    value: images
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: ''
  ...

cosign-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.cosign.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/cli-cosign:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

update-konflux-pipelines-to-use-refrences
  .tekton/client-server-cg-pull-request.yaml
  .tekton/client-server-cg-push.yaml
  .tekton/client-server-f-pull-request.yaml
  .tekton/client-server-f-push.yaml
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
  .tekton/client-server-re-pull-request.yaml
  .tekton/client-server-re-push.yaml
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
  .tekton/cosign-unit-test.yaml
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from f5d2c6a1e0c to 8b6978d5557
  Dockerfile.client-server-cg.rh
  Dockerfile.client-server-f.rh
  Dockerfile.client-server-re.rh
  Dockerfile.cosign.rh
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from f5d2c6a1e0c to f598528219a
  Dockerfile.client-server-cg.rh
  Dockerfile.client-server-f.rh
  Dockerfile.client-server-re.rh
  Dockerfile.cosign.rh
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from f5d2c6a1e0c to 94b434a29a8
  Dockerfile.client-server-cg.rh
  Dockerfile.client-server-f.rh
  Dockerfile.client-server-re.rh
  Dockerfile.cosign.rh
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 8b6978d5557 to e408de45e95
  Dockerfile.client-server-cg.rh
  Dockerfile.client-server-f.rh
  Dockerfile.client-server-re.rh
  Dockerfile.cosign.rh
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from e408de45e95 to a9c41b5bff9
  Dockerfile.client-server-cg.rh
  Dockerfile.client-server-f.rh
  Dockerfile.client-server-re.rh
  Dockerfile.cosign.rh
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-push

change-base-image
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from a9c41b5bff9 to fb77e447ab9
  Dockerfile.client-server-cg.rh
  Dockerfile.client-server-f.rh
  Dockerfile.client-server-re.rh
  Dockerfile.cosign.rh
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-push

Update cli image for ec to new v0.6 build
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from bafd57451de to 4c8830d3497
  Dockerfile.cosign.rh
Due: cosign-on-push

Update sigs.k8s.io/json digest to cfa47c3
  go.mod
  go.sum
Due: cosign-on-push

Update aws-sdk-go-v2 monorepo
  go.mod
  go.sum
Due: cosign-on-push

Update module cloud.google.com/go/auth/oauth2adapt to v0.2.8
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/Azure/go-autorest/autorest to v0.11.30
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/Azure/go-autorest/autorest/adal to v0.9.24
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/Azure/go-autorest/autorest/azure/auth to v0.5.13
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/Azure/go-autorest/autorest/azure/cli to v0.4.7
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/Azure/go-autorest/autorest/date to v0.3.1
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/Azure/go-autorest/logger to v0.2.2
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/Azure/go-autorest/tracing to v0.6.1
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/agnivade/levenshtein to v1.2.1
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/alibabacloud-go/alibabacloud-gateway-spi to v0.0.5
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/alibabacloud-go/debug to v1.0.1
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/alibabacloud-go/openapi-util to v0.1.1
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/aws/smithy-go to v1.22.3
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/docker/cli to v27.5.1+incompatible
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/go-chi/chi to v4.1.3
  go.mod
Due: cosign-on-push

Update module github.com/google/gnostic-models to v0.6.9
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/hashicorp/go-sockaddr to v1.0.7
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/hashicorp/hcl to v1.0.1-vault-7
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/in-toto/attestation to v1.1.1
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/magiconair/properties to v1.8.10
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/pelletier/go-toml/v2 to v2.2.4
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/prometheus/client_model to v0.6.2
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/spf13/cast to v1.7.1
  go.mod
  go.sum
Due: cosign-on-push

Update module google.golang.org/grpc to v1.71.1
  go.mod
  go.sum
Due: cosign-on-push

Update azure-sdk-for-go monorepo
  go.mod
  go.sum
Due: cosign-on-push

Path conditions:
  client-server-cg-on-pull-request: ((any of: Dockerfile.client-server-cg.rh) or (any of: .tekton/client-server-cg-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-f-on-push: ((any of: Dockerfile.client-server-f.rh) or (any of: .tekton/client-server-f-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-on-push: ((any of: Dockerfile.clients.rh) or (any of: .tekton/client-server-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-re-on-push: ((any of: Dockerfile.client-server-re.rh) or (any of: .tekton/client-server-re-push.yaml)) or (any of: trigger-konflux-builds.txt)
  cosign-on-push: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-push.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)
