Repository securesign/cosign: changes, and which Tekton pipelines are due for each by the changed paths.
All: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-pull-request

client-server-cg-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.client-server-cg.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/cli-client-server-cg:on-pr-{{revision}}
  - name: path-context
    value: images
  - name: revision
  ...

client-server-f-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/client-server-f:{{revision}}
  - name: dockerfile
    value: Dockerfile.client-server-f.rh
  - name: prefetch-input
    value: ''
  - name: hermetic
    value: 'true'
  ...

client-server-re-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.client-server-re.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/client-server-re:{{revision}}
  - name: path-context
    value: images
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: ''
  ...

cosign-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.cosign.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/cli-cosign:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

Adding in name data
  Dockerfile.clients.rh
Due: none

chore: add release-version param
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request

release1.3: bumping fulcio to 1.8.5
  .github/workflows/golangci-lint.yml
  .github/workflows/validate-release.yml
  .golangci.yml
  go.mod
  go.sum
  pkg/cosign/keys.go
Due: cosign-on-pull-request

release1.2: Bumping fulcio to 1.8.5
  .github/workflows/golangci-lint.yml
  .github/workflows/validate-release.yml
  .golangci.yml
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
  go.mod
  go.sum
  pkg/cosign/keys.go
Due: cosign-on-pull-request

chore: update builder images
  Dockerfile.cosign.rh
Due: cosign-on-pull-request

release1.3: bumping fulcio to 1.8.5 (#512)
  .github/workflows/golangci-lint.yml
  .github/workflows/validate-release.yml
  .golangci.yml
  go.mod
  go.sum
  pkg/cosign/keys.go
Due: cosign-on-pull-request

release1.2: Bumping fulcio to 1.8.5 (#513)
  .github/workflows/golangci-lint.yml
  .github/workflows/validate-release.yml
  .golangci.yml
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
  go.mod
  go.sum
  pkg/cosign/keys.go
Due: cosign-on-pull-request

Updating Client Images
  Dockerfile.clients.rh
Due: none

fix: add a replace for ThalesGroup, fixing renovate update
  go.mod
  go.sum
Due: cosign-on-pull-request

fix: updated error message, and added nolint for deprecated code
  cmd/cosign/cli/attest/attest_blob_test.go
  cmd/cosign/cli/verify/verify_blob_test.go
  internal/pkg/cosign/rekor/signer_test.go
  pkg/cosign/attestation/attestation.go
  pkg/cosign/bundle/protobundle_test.go
  pkg/cosign/bundle/rekor_test.go
  pkg/cosign/cue/cue_test.go
  pkg/cosign/fetch.go
  pkg/cosign/tlog.go
  pkg/cosign/verifiers.go
  pkg/cosign/verify_test.go
  pkg/policy/attestation.go
  pkg/policy/attestation_test.go
Due: cosign-on-pull-request

Adding Product Version Param
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request

Updating Timestamp file to retrigger build
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-pull-request

Updating ClientServer Images for 1.3.2
  Dockerfile.clients.rh
Due: none

test
  Dockerfile.clients.rh
Due: none

Updating Timestamp file to trigger build
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-pull-request

:robot: Updated timestamp file to 2026-02-04,10-39-55.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-pull-request

Updating CLI for 1.2
  Dockerfile.clients.rh
Due: none

Updating Cosign Image
  Dockerfile.clients.rh
Due: none

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 6fc28bcb677 to 42c0bdc0534
  Dockerfile.cosign.rh
Due: cosign-on-pull-request

Update client-server-push.yaml
  .tekton/client-server-push.yaml
Due: none

chore: update cosign digests
  Dockerfile.clients.rh
Due: none

chore: update cosign digests (#536)
  Dockerfile.clients.rh
Due: none

CLI tools images updated
  Dockerfile.clients.rh
Due: none

Update cosign-push.yaml
  .tekton/cosign-push.yaml
Due: none

:robot: Updated timestamp file to 2026-02-09,22-55-01.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-re-on-push, cosign-on-pull-request

Updating Container Labels
  Dockerfile.clients.rh
Due: none

chore: bump gitsign image
  Dockerfile.clients.rh
Due: none

chore: bump gitsign image (#549)
  Dockerfile.clients.rh
Due: none

Updating Cosign dockerfile label
  Dockerfile.cosign.rh
Due: cosign-on-pull-request

fix: bump gitsign image
  Dockerfile.clients.rh
Due: none

fix: bump gitsign image (#563)
  Dockerfile.clients.rh
Due: none

Updating Dockerfile Images and tekton files for 1.3.3
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
  Dockerfile.cosign.rh
Due: cosign-on-pull-request

fix: replace gitsign
  Dockerfile.clients.rh
Due: none

Path conditions:
  client-server-cg-on-pull-request: ((any of: Dockerfile.client-server-cg.rh) or (any of: .tekton/client-server-cg-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-f-on-push: ((any of: Dockerfile.client-server-f.rh) or (any of: .tekton/client-server-f-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-re-on-push: ((any of: Dockerfile.client-server-re.rh) or (any of: .tekton/client-server-re-push.yaml)) or (any of: trigger-konflux-builds.txt)
  cosign-on-pull-request: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-pull-request.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)
