Repository securesign/cosign: changes, and which Tekton pipelines are due for each by the changed paths.
All: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Path conditions:
  client-server-cg-on-pull-request: ((any of: Dockerfile.client-server-cg.rh) or (any of: .tekton/client-server-cg-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-f-on-push: ((any of: Dockerfile.client-server-f.rh) or (any of: .tekton/client-server-f-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-on-push: ((any of: Dockerfile.clients.rh) or (any of: .tekton/client-server-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-re-on-push: ((any of: Dockerfile.client-server-re.rh) or (any of: .tekton/client-server-re-push.yaml)) or (any of: trigger-konflux-builds.txt)
  cosign-on-pull-request: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-pull-request.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)
  cosign-on-push: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-push.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)

Red Hat Konflux update cosign-v1-3
  .tekton/cosign-v1-3-pull-request.yaml
  .tekton/cosign-v1-3-push.yaml
Due: none

Red Hat Konflux update cosign-v1-2
  .tekton/cosign-v1-2-pull-request.yaml
  .tekton/cosign-v1-2-push.yaml
Due: none

chore(konflux): update component references for 1.2 release
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request, cosign-on-push

DO NOT MERGE!
  .tekton/cosign-pull-request.yaml
Due: cosign-on-pull-request

fix(tekton): target_branch and pipeline name for 1.3 release
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request, cosign-on-push

fix(tekton): target_branch and pipeline name for 1.2 release
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-pull-request, cosign-on-push

Triggering Build file for test
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Triggering Build via trigger build file
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

chore: bump builder images
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

Bump TSA library to relax EKU chain validation rules (#4219)
  go.sum
Due: cosign-on-pull-request, cosign-on-push

upgrade go-github to v72 (#4220)
  go.mod
  go.sum
  pkg/cosign/git/github/github.go
Due: cosign-on-pull-request, cosign-on-push

Don't verify SCT for a private PKI cert (#4225)
  cmd/cosign/cli/sign/sign.go
Due: cosign-on-pull-request, cosign-on-push

Run reusable dependency review workflow from main (#4239)
  .github/workflows/depsreview.yml
Due: none

Red Hat Konflux update client-server
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
Due: client-server-on-push

Red Hat Konflux update client-server-v1-2
  .tekton/client-server-v1-2-pull-request.yaml
  .tekton/client-server-v1-2-push.yaml
Due: none

Red Hat Konflux update client-server-v1-3
  .tekton/client-server-v1-3-pull-request.yaml
  .tekton/client-server-v1-3-push.yaml
Due: none

Upgrade to TUF v2 client with trusted root
  cmd/conformance/main.go
  cmd/cosign/cli/attest.go
  cmd/cosign/cli/attest_blob.go
  cmd/cosign/cli/fulcio/fulcioverifier/fulcioverifier.go
  cmd/cosign/cli/fulcio/fulcioverifier/fulcioverifier_test.go
  cmd/cosign/cli/initialize/init.go
  cmd/cosign/cli/initialize/init_test.go
  cmd/cosign/cli/options/key.go
  cmd/cosign/cli/sign.go
  cmd/cosign/cli/signblob.go
  cmd/cosign/cli/verify/verify.go
  cmd/cosign/cli/verify/verify_attestation.go
  cmd/cosign/cli/verify/verify_blob.go
  cmd/cosign/cli/verify/verify_blob_attestation.go
  cmd/cosign/cli/verify/verify_blob_test.go
  go.mod
  go.sum
  pkg/cosign/env/env.go
  pkg/cosign/tlog.go
  pkg/cosign/tlog_test.go
  pkg/cosign/tuf.go
  pkg/cosign/verify.go
  pkg/cosign/verify_sct.go
  test/e2e_test.go
Due: cosign-on-pull-request, cosign-on-push

Bump to sigstore-go v1.0, fix lint errors (#4240)
  cmd/cosign/cli/sign/sign.go
  cmd/cosign/cli/sign/sign_blob.go
  go.mod
  go.sum
  pkg/cosign/verify.go
  pkg/cosign/verify_bundle.go
Due: cosign-on-pull-request, cosign-on-push

update builder to use go1.24.4 (#4241)
  release/cloudbuild.yaml
Due: none

Add baseUrl and Uri to trusted-root create command
  cmd/cosign/cli/options/trustedroot.go
  cmd/cosign/cli/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot_test.go
  doc/cosign_trusted-root_create.md
Due: cosign-on-pull-request, cosign-on-push

Add Rekor v2 support for trusted-root create (#4242)
  cmd/cosign/cli/options/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot_test.go
  doc/cosign_trusted-root_create.md
  go.mod
  go.sum
Due: cosign-on-pull-request, cosign-on-push

docs: improve doc for --no-upload option (#4206)
  cmd/cosign/cli/attest.go
  cmd/cosign/cli/options/attest.go
  doc/cosign_attest.md
Due: cosign-on-pull-request, cosign-on-push

Do not load trusted root when CT env key is set
  cmd/cosign/cli/attest.go
  cmd/cosign/cli/attest_blob.go
  cmd/cosign/cli/sign.go
  cmd/cosign/cli/signblob.go
Due: cosign-on-pull-request, cosign-on-push

Add CHANGELOG for v2.5.1 (#4245)
  CHANGELOG.md
Due: none

Add changelog for v2.5.2 (#4253)
  CHANGELOG.md
Due: none

avoid double-loading trustedroot from file (#4264)
  cmd/cosign/cli/verify/verify_attestation.go
Due: cosign-on-pull-request, cosign-on-push

update tests for latest scaffolding release (#4254)
  .github/workflows/e2e-tests.yml
  .github/workflows/kind-verify-attestation.yaml
Due: none

Add validity period end for trusted-root create (#4271)
  cmd/cosign/cli/options/trustedroot.go
  cmd/cosign/cli/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot_test.go
  doc/cosign_trusted-root_create.md
Due: cosign-on-pull-request, cosign-on-push

use go1.24.5 to build cosign (#4278)
  release/cloudbuild.yaml
Due: none

bump golangci-lint to v2.2.x (#4279)
  pkg/types/payload.go
Due: cosign-on-pull-request, cosign-on-push

feat: Add OCI 1.1+ experimental support to tree (#4205)
  cmd/cosign/cli/options/tree.go
  cmd/cosign/cli/tree.go
  doc/cosign_tree.md
Due: cosign-on-pull-request, cosign-on-push

Fix lint error for types package (#4295)
  pkg/types/media.go
Due: cosign-on-pull-request, cosign-on-push

bump go-github to v73 (#4297)
  go.mod
  go.sum
  pkg/cosign/git/github/github.go
Due: cosign-on-pull-request, cosign-on-push

force when copying the latest image to overwrite (#4298)
  release/release.mk
Due: none

Allow multiple services to be specified for trusted-root create (#4285)
  cmd/cosign/cli/options/trustedroot.go
  cmd/cosign/cli/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot_test.go
  doc/cosign_trusted-root_create.md
Due: cosign-on-pull-request, cosign-on-push

Fix cert verification logic for trusted-root/SCTs (#4294)
  pkg/cosign/verify.go
  pkg/cosign/verify_test.go
Due: cosign-on-pull-request, cosign-on-push

Add signing-config create command (#4280)
  .golangci.yml
  cmd/cosign/cli/commands.go
  cmd/cosign/cli/initialize/init_test.go
  cmd/cosign/cli/options/signingconfig.go
  cmd/cosign/cli/signingconfig.go
  cmd/cosign/cli/signingconfig/signingconfig.go
  cmd/cosign/cli/signingconfig/signingconfig_test.go
  doc/cosign.md
  doc/cosign_signing-config.md
  doc/cosign_signing-config_create.md
  go.mod
  go.sum
Due: cosign-on-pull-request, cosign-on-push

Add to `attest-blob` the ability to supply a complete in-toto statement, and add to `verify-blob-attestation` the ability to verify with just a digest (#4306)
  Makefile
  cmd/cosign/cli/attest/attest_blob.go
  cmd/cosign/cli/attest/attest_blob_test.go
  cmd/cosign/cli/attest_blob.go
  cmd/cosign/cli/options/predicate.go
  cmd/cosign/cli/options/verify.go
  cmd/cosign/cli/verify.go
  cmd/cosign/cli/verify/verify_blob_attestation.go
  cmd/cosign/cli/verify/verify_blob_attestation_test.go
  doc/cosign_attest-blob.md
  doc/cosign_attest.md
  doc/cosign_verify-blob-attestation.md
  go.mod
  test/e2e_test.go
Due: cosign-on-pull-request, cosign-on-push

Add changelog for v2.5.3 (#4299)
  CHANGELOG.md
Due: none

Verify subject with bundle only when checking claims (#4320)
  cmd/cosign/cli/verify/verify_blob_attestation.go
  cmd/cosign/cli/verify/verify_blob_attestation_test.go
Due: cosign-on-pull-request, cosign-on-push
