Repository securesign/cosign: changes, and which Tekton pipelines are due for each by the changed paths.
All: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-push

client-server-cg-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.client-server-cg.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/cli-client-server-cg:on-pr-{{revision}}
  - name: path-context
    value: images
  - name: revision
  ...

client-server-f-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/client-server-f:{{revision}}
  - name: dockerfile
    value: Dockerfile.client-server-f.rh
  - name: prefetch-input
    value: ''
  - name: hermetic
    value: 'true'
  ...

client-server-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/client-server:{{revision}}
  - name: dockerfile
    value: Dockerfile.clients.rh
  - name: hermetic
    value: 'true'
  - name: build-source-image
    value: 'true'
  ...

client-server-re-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.client-server-re.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/client-server-re:{{revision}}
  - name: path-context
    value: images
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: ''
  ...

cosign-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.cosign.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/cli-cosign:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Update module github.com/google/go-github/v55 to v71
  go.mod
  go.sum
  pkg/cosign/git/github/github.go
Due: cosign-on-push

Update module github.com/hashicorp/hcl to v2
  go.mod
  go.sum
Due: cosign-on-push

Update module github.com/imdario/mergo to v1
  go.mod
Due: cosign-on-push

cli image updates
  Dockerfile.clients.rh
Due: client-server-on-push

New rekor-cli image
  Dockerfile.clients.rh
Due: client-server-on-push

new tuffer image
  Dockerfile.clients.rh
Due: client-server-on-push

Adding renovate.json to point at central config
  renovate.json
Due: none

Updating go deps
  go.mod
  go.sum
Due: cosign-on-push

Running go mod tidy
  go.mod
  go.sum
Due: cosign-on-push

Adding Newline
  renovate.json
Due: none

Update module github.com/aws/aws-sdk-go to v1.55.7
  go.mod
Due: cosign-on-push

Update Go Dependencies
  go.mod
Due: cosign-on-push

Update aws-sdk-go-v2 monorepo
  go.mod
Due: cosign-on-push

Update azure-sdk-for-go monorepo
  go.mod
Due: cosign-on-push

Update kubernetes packages to v0.33.0
  go.mod
Due: cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 4c8830d3497 to e7da3c032ae
  Dockerfile.cosign.rh
Due: cosign-on-push

Konflux build pipeline service account migration for client-server Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
Due: client-server-on-push

Konflux build pipeline service account migration for cosign Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cosign-pull-request.yaml
  .tekton/cosign-push.yaml
Due: cosign-on-push

Mass Dependency Bump
  go.mod
  go.sum
Due: cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 4c8830d3497 to aca8052836f
  Dockerfile.cosign.rh
Due: cosign-on-push

Bumping Brew Image
  Dockerfile.cosign.rh
Due: cosign-on-push

Updating Dependency ref
  go.mod
  go.sum
  pkg/cosign/pkcs11key/pkcs11key.go
Due: cosign-on-push

Gating Deps to 1.23.6
  go.mod
  go.sum
Due: cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 92b1d5747a9 to aca8052836f
  Dockerfile.cosign.rh
Due: cosign-on-push

Downgrading certain packages to meet 1.23 limitation
  go.mod
  go.sum
Due: cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 92b1d5747a9 to 9bed5331870
  Dockerfile.cosign.rh
Due: cosign-on-push

:robot: Updated timestamp file to 2025-06-17,13-06-05.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-push

:robot: Updated timestamp file to 2025-06-18,11-18-47.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from f172b3082a3 to 9bed5331870
  Dockerfile.cosign.rh
Due: cosign-on-push

Updating CLI tools
  Dockerfile.clients.rh
Due: client-server-on-push

Updating cosign image
  Dockerfile.clients.rh
Due: client-server-on-push

Path conditions:
  client-server-cg-on-pull-request: ((any of: Dockerfile.client-server-cg.rh) or (any of: .tekton/client-server-cg-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-f-on-push: ((any of: Dockerfile.client-server-f.rh) or (any of: .tekton/client-server-f-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-on-push: ((any of: Dockerfile.clients.rh) or (any of: .tekton/client-server-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-re-on-push: ((any of: Dockerfile.client-server-re.rh) or (any of: .tekton/client-server-re-push.yaml)) or (any of: trigger-konflux-builds.txt)
  cosign-on-push: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-push.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)
