Repository securesign/cosign: changes, and which Tekton pipelines are due for each by the changed paths.
All: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Path conditions:
  client-server-cg-on-pull-request: ((any of: Dockerfile.client-server-cg.rh) or (any of: .tekton/client-server-cg-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-f-on-push: ((any of: Dockerfile.client-server-f.rh) or (any of: .tekton/client-server-f-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-on-push: ((any of: Dockerfile.clients.rh) or (any of: .tekton/client-server-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-re-on-push: ((any of: Dockerfile.client-server-re.rh) or (any of: .tekton/client-server-re-push.yaml)) or (any of: trigger-konflux-builds.txt)
  cosign-on-pull-request: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-pull-request.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)
  cosign-on-push: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-push.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)

Updating cli images
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 2f06ae0e6d3 to 3660caede14
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-09-05,09-55-29.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Updating Clients
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Updated timestamp file to 2025-09-07,19-39-24.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Updating Client Servers
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Updated timestamp file to 2025-09-14,21-43-12.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Correcting Gitsign digest
  Dockerfile.clients.rh
Due: client-server-on-push

chore(KONFLUX-6210): fix and set name and cpe label for cosign
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 2f06ae0e6d3 to 870a2771409
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

chore(KONFLUX-6210): fix and set name and cpe label for client-server
  Dockerfile.clients.rh
Due: client-server-on-push

Updating Labels
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

Updating version label
  Dockerfile.clients.rh
Due: client-server-on-push

Removing CPE labels
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

Removing extra name label
  Dockerfile.clients.rh
Due: client-server-on-push

Update httpd image
  Dockerfile.clients.rh
Due: client-server-on-push

Updating httpd-server
  Dockerfile.clients.rh
Due: client-server-on-push

Using alternative server digest
  Dockerfile.clients.rh
Due: client-server-on-push

:robot: Updated timestamp file to 2025-09-24,11-12-51.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Attempting to use newest image
  Dockerfile.clients.rh
Due: client-server-on-push

Updating cosign go toolset image
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

chore(deps): update docker images
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7c5495d5fad to 870a2771409
  Dockerfile.cosign.rh
Due: cosign-on-pull-request, cosign-on-push

Update Go Dependencies
  go.mod
  test/fakeoidc/go.mod
  test/fakeoidc/go.sum
Due: cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-09-29,10-47-17.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

Updating Cli Images
  Dockerfile.clients.rh
Due: client-server-on-push

Updating Trillian createtree
  Dockerfile.clients.rh
Due: client-server-on-push

Updating tough Image
  Dockerfile.clients.rh
Due: client-server-on-push

Update Docker Images
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

fix: correct licence and user init
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

fix: correct licence and user init (#461)
  Dockerfile.clients.rh
  Dockerfile.cosign.rh
Due: client-server-on-push, cosign-on-pull-request, cosign-on-push

:robot: Updated timestamp file to 2025-10-21,12-11-57.
  trigger-konflux-builds.txt
Due: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request, cosign-on-push

updating components in Dockerfile.clients.rh
  Dockerfile.clients.rh
Due: client-server-on-push
