Repository securesign/cosign: changes, and which Tekton pipelines are due for each by the changed paths.
All: client-server-cg-on-pull-request, client-server-f-on-push, client-server-on-push, client-server-re-on-push, cosign-on-pull-request

client-server-cg-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.client-server-cg.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/cli-client-server-cg:on-pr-{{revision}}
  - name: path-context
    value: images
  - name: revision
  ...

client-server-f-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/client-server-f:{{revision}}
  - name: dockerfile
    value: Dockerfile.client-server-f.rh
  - name: prefetch-input
    value: ''
  - name: hermetic
    value: 'true'
  ...

client-server-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/client-server:{{revision}}
  - name: dockerfile
    value: Dockerfile.clients.rh
  - name: hermetic
    value: 'true'
  - name: build-source-image
    value: 'true'
  ...

client-server-re-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.client-server-re.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/client-server-re:{{revision}}
  - name: path-context
    value: images
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: ''
  ...

cosign-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.cosign.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/cli-cosign:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

Deduplicate code in sign/attest* and verify* commands (#4449)
  cmd/cosign/cli/attest/attest.go
  cmd/cosign/cli/attest/attest_blob.go
  cmd/cosign/cli/sign/sign.go
  cmd/cosign/cli/sign/sign_blob.go
  cmd/cosign/cli/sign/sign_test.go
  cmd/cosign/cli/signcommon/common.go
  cmd/cosign/cli/signcommon/common_test.go
  cmd/cosign/cli/verify/common.go
  cmd/cosign/cli/verify/verify.go
  cmd/cosign/cli/verify/verify_attestation.go
  cmd/cosign/cli/verify/verify_blob.go
  cmd/cosign/cli/verify/verify_blob_attestation.go
Due: cosign-on-pull-request

Remove --out flag from `cosign initialize` (#4462)
  cmd/cosign/cli/initialize.go
  doc/cosign_initialize.md
Due: cosign-on-pull-request

Fix segfault when no attestations are found (#4472)
  pkg/cosign/verify.go
  pkg/cosign/verify_test.go
Due: cosign-on-pull-request

Pass insecure registry flags through to referrers
  .github/workflows/e2e-tests.yml
  cmd/cosign/cli/attest/attest.go
  cmd/cosign/cli/sign/sign.go
  cmd/cosign/cli/verify/verify.go
  cmd/cosign/cli/verify/verify_attestation.go
  pkg/cosign/verify.go
  pkg/oci/remote/write.go
  test/e2e_insecure_registry_test.go
Due: cosign-on-pull-request

Add --bundle and fix --upload for new bundle
  cmd/cosign/cli/attest.go
  cmd/cosign/cli/attest/attest.go
  cmd/cosign/cli/attest/attest_blob.go
  cmd/cosign/cli/options/attest.go
  cmd/cosign/cli/options/sign.go
  cmd/cosign/cli/sign/sign.go
  cmd/cosign/cli/signcommon/common.go
  doc/cosign_attest.md
  doc/cosign_sign.md
  test/e2e_test.go
Due: cosign-on-pull-request

Add protobuf bundle support for tree subcommand (#4491)
  cmd/cosign/cli/options/tree.go
  cmd/cosign/cli/tree.go
  doc/cosign_tree.md
  pkg/oci/remote/write.go
  test/e2e_test.go
Due: cosign-on-pull-request

Deprecate offline flag (#4457)
  README.md
  cmd/cosign/cli/options/verify.go
  doc/cosign_dockerfile_verify.md
  doc/cosign_manifest_verify.md
  doc/cosign_verify-attestation.md
  doc/cosign_verify-blob-attestation.md
  doc/cosign_verify-blob.md
  doc/cosign_verify.md
Due: cosign-on-pull-request

Support multiple container identities
  cmd/cosign/cli/options/sign.go
  cmd/cosign/cli/sign/sign.go
  doc/cosign_sign.md
  test/e2e_test.go
Due: cosign-on-pull-request

update offline verification directions (#4526)
  README.md
Due: none

Add --signing-algorithm flag (#3497)
  cmd/cosign/cli/options/key.go
  cmd/cosign/cli/options/signblob.go
  cmd/cosign/cli/sign/sign_blob.go
  cmd/cosign/cli/signblob.go
  cmd/cosign/cli/signcommon/common.go
  doc/cosign_sign-blob.md
  pkg/cosign/keys.go
Due: cosign-on-pull-request

Deprecate tlog-upload flag (#4458)
  cmd/cosign/cli/attest.go
  cmd/cosign/cli/attest_blob.go
  cmd/cosign/cli/options/attest.go
  cmd/cosign/cli/options/attest_blob.go
  cmd/cosign/cli/options/sign.go
  cmd/cosign/cli/options/signblob.go
  cmd/cosign/cli/sign.go
  cmd/cosign/cli/signblob.go
  cmd/cosign/cli/signcommon/common.go
  doc/cosign_attest-blob.md
  doc/cosign_attest.md
  doc/cosign_sign-blob.md
  doc/cosign_sign.md
  test/e2e_test.go
  test/e2e_test.ps1
Due: cosign-on-pull-request

Add support to download and attach for protobuf bundles (#4477)
  cmd/cosign/cli/attach/attach.go
  cmd/cosign/cli/attach/sig.go
  cmd/cosign/cli/download.go
  cmd/cosign/cli/download/attestation.go
  cmd/cosign/cli/download/signature.go
  cmd/cosign/cli/options/attach.go
  cmd/cosign/cli/verify/verify.go
  cmd/cosign/cli/verify/verify_attestation.go
  doc/cosign_attach_signature.md
  pkg/cosign/verify.go
  pkg/cosign/verify_oci_test.go
  test/e2e_test.go
Due: cosign-on-pull-request

fix: Use signal context for `sign` cli package.
  cmd/cosign/cli/sign.go
  cmd/cosign/cli/sign/sign.go
  cmd/cosign/cli/sign/sign_blob.go
  cmd/cosign/cli/sign/sign_blob_test.go
  cmd/cosign/cli/sign/sign_test.go
  cmd/cosign/cli/signblob.go
  test/e2e_insecure_registry_test.go
  test/e2e_kms_test.go
  test/e2e_test.go
  test/e2e_tsa_test.go
Due: cosign-on-pull-request

Refactor signcommon bundle helpers
  cmd/cosign/cli/attest/attest.go
  cmd/cosign/cli/attest/attest_blob.go
  cmd/cosign/cli/sign/sign.go
  cmd/cosign/cli/signcommon/common.go
Due: cosign-on-pull-request

Fix signing/verifying annotations for new bundle
  cmd/cosign/cli/sign/sign.go
  cmd/cosign/cli/verify/verify.go
  cmd/cosign/cli/verify/verify_test.go
  pkg/cosign/verifiers.go
  pkg/cosign/verify.go
  test/e2e_test.go
Due: cosign-on-pull-request

update go builder and cosign (#4529)
  .github/workflows/validate-release.yml
  release/cloudbuild.yaml
Due: none

Fix cert attachment for new bundle with signing config
  cmd/cosign/cli/sign/sign_blob.go
  cmd/cosign/cli/signcommon/common.go
  pkg/cosign/bundle/sign.go
  test/e2e_test.go
Due: cosign-on-pull-request

Fix OCI verification with local cert - old bundle
  cmd/cosign/cli/verify/verify_blob_test.go
  pkg/cosign/verify.go
  pkg/cosign/verify_test.go
Due: cosign-on-pull-request

Protobuf bundle support for subcommands `save` and `load` (#4538)
  cmd/cosign/cli/load.go
  cmd/cosign/cli/options/verify.go
  cmd/cosign/cli/save.go
  pkg/cosign/bundle/protobundle.go
  pkg/oci/remote/write.go
  test/e2e_test.go
Due: cosign-on-pull-request

Bump sigstore library dependencies (#4532)
  .github/workflows/e2e-with-binary.yml
  .github/workflows/tests.yaml
  go.mod
  go.sum
  internal/pkg/cosign/tsa/mock/mock_tsa_client.go
  pkg/cosign/verify.go
  test/e2e_attach_test.go
  test/e2e_test.go
  test/e2e_tsa_test.go
Due: cosign-on-pull-request

Updating sign-blob to also support signing with a certificate (#4547)
  cmd/cosign/cli/options/attest_blob.go
  cmd/cosign/cli/options/signblob.go
  cmd/cosign/cli/sign/sign_blob.go
  cmd/cosign/cli/sign/sign_blob_test.go
  cmd/cosign/cli/signblob.go
  cmd/cosign/cli/signcommon/common.go
  doc/cosign_attest-blob.md
  doc/cosign_sign-blob.md
  test/e2e_test.go
  test/e2e_tsa_test.go
Due: cosign-on-pull-request

update slack invite link (#4560)
  README.md
Due: none

Protobuf bundle support for subcommand `clean` (#4539)
  cmd/cosign/cli/clean.go
  cmd/cosign/cli/options/clean.go
  doc/cosign_clean.md
  test/e2e_test.go
Due: cosign-on-pull-request

update builder to use go1.25.5 (#4566)
  .github/workflows/validate-release.yml
  release/cloudbuild.yaml
Due: none

Add staging flag to initialize with staging TUF metadata
  cmd/cosign/cli/initialize.go
  cmd/cosign/cli/initialize/init.go
  cmd/cosign/cli/options/initialize.go
  doc/cosign_initialize.md
Due: cosign-on-pull-request

4554: Closes 4554 - Add warning when --output* is used (#4556)
  cmd/cosign/cli/attest.go
  cmd/cosign/cli/attest_blob.go
  cmd/cosign/cli/sign.go
  cmd/cosign/cli/signblob.go
  cmd/cosign/cli/signcommon/common.go
Due: cosign-on-pull-request

Add changelog for v3.0.3 (#4572)
  CHANGELOG.md
Due: none

Don't require a trusted root to verify offline with a key (#4613)
  cmd/cosign/cli/verify/common.go
  cmd/cosign/cli/verify/verify.go
  cmd/cosign/cli/verify/verify_attestation.go
  cmd/cosign/cli/verify/verify_blob.go
  cmd/cosign/cli/verify/verify_blob_attestation.go
  pkg/cosign/verify.go
  test/e2e_test.go
Due: cosign-on-pull-request

Support default services for trusted-root and signing-config creation (#4592)
  cmd/cosign/cli/options/signingconfig.go
  cmd/cosign/cli/options/trustedroot.go
  cmd/cosign/cli/signingconfig.go
  cmd/cosign/cli/signingconfig/signingconfig.go
  cmd/cosign/cli/trustedroot.go
  cmd/cosign/cli/trustedroot/trustedroot.go
  doc/cosign_signing-config_create.md
  doc/cosign_trusted-root_create.md
  test/e2e_test.go
Due: cosign-on-pull-request

Optimize cosign tree performance by caching digest resolution (#4612)
  cmd/cosign/cli/tree.go
Due: cosign-on-pull-request

Fix bundle verify path for old bundle/trusted root (#4623)
  pkg/cosign/verify.go
  pkg/cosign/verify_test.go
Due: cosign-on-pull-request

fix conflicts
  go.mod
  go.sum
Due: cosign-on-pull-request

Updating Client Server Application
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
Due: client-server-on-push

Updating Cli Server Konflux References
  .tekton/client-server-pull-request.yaml
  .tekton/client-server-push.yaml
Due: client-server-on-push

Correcting Target Branch
  .tekton/client-server-pull-request.yaml
Due: none

Updating Target Branch
  .tekton/client-server-pull-request.yaml
Due: none

Updating client-server-target-branch
  .tekton/client-server-push.yaml
Due: client-server-on-push

Updating Target Branch
  .tekton/client-server-push.yaml
Due: client-server-on-push

Updating Client Images fo 1.3.2
  Dockerfile.clients.rh
Due: client-server-on-push

Path conditions:
  client-server-cg-on-pull-request: ((any of: Dockerfile.client-server-cg.rh) or (any of: .tekton/client-server-cg-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-f-on-push: ((any of: Dockerfile.client-server-f.rh) or (any of: .tekton/client-server-f-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-on-push: ((any of: Dockerfile.clients.rh) or (any of: .tekton/client-server-push.yaml)) or (any of: trigger-konflux-builds.txt)
  client-server-re-on-push: ((any of: Dockerfile.client-server-re.rh) or (any of: .tekton/client-server-re-push.yaml)) or (any of: trigger-konflux-builds.txt)
  cosign-on-pull-request: (((((((((any of: Dockerfile.cosign.rh) or (any of: .tekton/cosign-pull-request.yaml)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)
